
.number {
position: absolute;
margin: 20px;
font-family: Verdana, Geneva, Tahoma, sans-serif;
font-size: 12px;
}

.item {
  list-style: none;
}

.pokemon {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  width: 150px;
  border-radius: 2%;
  background: #96cfe2;
  list-style: none;
  margin: 10px;
}

.name {
  margin: 0;
  text-transform: capitalize;
}

.img {
  width: 100px;
  margin: 0;
}

.poke-list{
  display: flex;
  padding: 0;
  margin: 0;
  flex-wrap: wrap;

}

.type {
  display: inline-flex;
  margin: 5px;

  &__item {
    background: rgb(219, 158, 123);
    text-transform: uppercase;
    padding: 3px;
    margin: 4px;
    border-radius: 10px;
    font-size: 12px;
  }
}

.title {
  text-align: center;
}

ul {
  padding: 0;
}